---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num}
role-tables:
- - roles: [age, postdoc, staff]
    width: 4
   
  - roles: [sex]
    width: 8

- - roles: [class, height, height-alum]
    width: 5

  - roles: [alum]
    width: 7


---

<div class="jumbotron">
    <p>
        <b>赵孔路</b>就读于<b>香港岭南大学</b>,实现了深造的愿望。有望进一步深造<b>，走上人生巅峰</b>。 
    </p>
    <p>
     <b>ZHAO KongLu </b> enrolled in <b>LingNan University</b>,realized the desire for further studies, <b> on the way to the top </b>.
    </p>
</div>

<script
	type="module"
	src="https://gradio.s3-us-west-2.amazonaws.com/4.41.0/gradio.js"
></script>

<gradio-app src="https://xiaohang07-slices.hf.space" theme_mode="light"></gradio-app>

<gradio-app src="https://xiaohang07-mattergpt-cpu.hf.space" theme_mode="light"></gradio-app>


<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>


<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
